h1 {
  text-align: center;
  margin-top: -20px;
}

h2 {
  text-align: left;
}

.inhoud {
  display: grid;
  grid-template-columns: minmax(300px, max-content) minmax(300px, max-content);
  grid-gap: 100px;
  align-items: center;
  justify-content: center;
}

.tekst {
  width: 100%;
}
.formulier {
  margin-top: 0;
  width: 100%;
}
