h1 {
  text-align: center;
  margin-top: -20px;
}

h2 {
  text-align: left;
}

.inhoud {
  display: grid;
  grid-template-columns: minmax(300px, max-content) minmax(300px, max-content);
  grid-gap: 100px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
@media all and (max-width: 800px){
  .inhoud{
    grid-template-columns: minmax(300px, max-content);
  }
  .formulier{
    margin-bottom: 50px;
  }
}

.tekst {
  justify-self: center;
  width: 100%;
  background-color: var(--item);
  padding: 15px;
  margin-right: 100px;
  border-radius: 5px;
  box-shadow:0 0 40px -10px #000;
}

.formulier {
  margin-left: 50px;
  margin-top: 0;
  width: 100%;
}
