h1{
    text-align: center;
}

h2{
  text-align: left;  
}

.inhoud{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "t f";
}

.tekst{
   width: 400px;
   grid-area: t;
}
.formulier{
  margin-top: 50px;
  width: 300px;
  grid-area: f; 
}