:root {
  --kop-staart: #a9eca2;
  --kop-staart-items: rgb(31, 112, 22);
  --body: #f5ffcb;
  --content: #ffe3b0;
  --rest: #f5c8bd;
  --hover-item: rgb(69, 182, 69);
  --active-item: rgb(116, 231, 116);
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: var(--body);
  /*padding: 20px 20px;*/
  margin: 0;
  padding: 0;
  /*height: 100vh; heeft waarschijnlijk geen zin*/
  height: 100%;
}

h1,
h2,
h3,
p,
ul,
li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}

.theme {
  display: inline;
}

.container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 55px 90px 1fr 50px;
  height: 100%;
  grid-template-areas:
    "hoofdtitel"
    "header"
    "content"
    "footer";
}

.logo {
  transform: rotate(-90deg);
  width: 100px;
  height: auto;
  position: absolute;
  top: 90px;
  left: 75px;
}

@media all and (max-width: 700px) {
  .logo {
    width: 50px;
    top: 100px;
    left: 30px;
  }
}

@media all and (max-width: 500px) {
  .hoofdtitel h1 {
    font-size: 35px;
    margin-top: -10px ;
  }
}

.active {
  background-color: var(--active-item);
}

ul li .active {
  color: black;
}

.hoofdtitel {
  color: rgb(64, 83, 29);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-image: url("60+bus1.png");
  background-position: center;
  height: 100%;
  grid-area: hoofdtitel;
  display: grid;
  align-items: center;
  justify-content: center;
}

.hoofdtitel h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* bij < 900px de navbar kleiner maken of met de drie streepjes*/
ul.header li {
  list-style-type: none;
  margin: 0;
  background-color: var(--kop-staart-items);
  padding: 4px;
  margin: 10px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-out;
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
  /*flex: 1;*/
}

ul.header li:hover {
  background-color: var(--hover-item);
}

ul.header {
  background-color: var(--kop-staart);
  padding: 4px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
  grid-area: header;
  margin-bottom: 10px;
}

ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  margin: 0;
  border-radius: 5px;
  /*display: block;*/
  transition: color 0.3s ease-out;
}

/*
ul.header li a:hover {
  color: rgb(224, 198, 198);
}
*/
/* padding bottom 0 omdat de footyer andere in de content komt te staan ? */
.content {
  background-color: var(--content);
  height: 100%;
  padding: 50px 50px 0 50px;
  margin-bottom: 50px;
  grid-area: content;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

footer {
  background: var(--kop-staart);
  padding: 10px;
  margin-bottom: 0;
  grid-area: footer;
  /*max-height: 40px;*/
  align-self: end;
  display: flex;
  flex-wrap: wrap;
}

footer p {
  font-size: 0.9em;
}
