:root {
  --kop-staart: #a9eca2;
  --kop-staart-items: rgb(31, 112, 22);
  --body:  rgba(255, 255, 255, 0.459);
  --content: rgba(255, 255, 255, 0.918);
  --rest: #f5c8bd;
  --hover-item: rgb(69, 182, 69);
  --active-item: rgb(116, 231, 116);
  --item:rgb(248, 245, 220); 
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
}

#root {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: var(--body);
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
p,
ul,
li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}

.theme {
  display: inline;
}

.container {
  padding: 0;
  margin: 0;
  display: grid;
  border-radius: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 55px 90px 1fr 50px;
  height: 100%;
  grid-template-areas:
    "hoofdtitel"
    "header"
    "content"
    "footer";
}
.hoofdtitel .logo {
  transform: rotate(-90deg);
  width: 125px;
  height: auto;
  position: absolute;
  top: 90px;
  left: 75px;
}

@media all and (max-width: 700px) {
  .logo {
    width: 50px;
    top: 100px;
    left: 30px;
  }
}

@media all and (max-width: 500px) {
  .hoofdtitel h1 {
    font-size: 35px;
    margin-top: -10px ;
    text-align: center;
  }
}

.active {
  background-color: black;
}

ul li .active {
  color: black;
}

.hoofdtitel {
  color: rgb(64, 83, 29);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background-position: center;
  height: 100%;
  grid-area: hoofdtitel;
  display: grid;
  align-items: center;
  justify-content: center;
}

.hoofdtitel h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* bij < 900px de navbar kleiner maken of met de drie streepjes*/


ul.header {
  background-color: white; 
  padding: 4px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
  grid-area: header;
  margin-bottom: 10px;
}
 
ul.header li {
  list-style-type: none;
  margin: 0;
  background-color: #F07D00;
  padding: 4px;
  margin: 10px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-out;
  color: white;
  display: grid;
  align-items: center;
  justify-content: center;
}

ul.header li:hover {
  background-color: rgb(161, 83, 0);
}

ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
  margin: 0;
  border-radius: 5px;
  transition: color 0.3s ease-out;
}

.content {
  background-color: var(--content);
  height: 100%;
  padding: 50px 50px 0 50px;
  border-radius: 5px;
  margin-bottom: 50px;
  grid-area: content;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

footer {

  background: var(--item);
/*background: linear-gradient(to right, var(--item), rgb(233, 221, 157));*/
  padding: 10px;
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 0.9em;
}
