button{
    padding: 5px;
    margin: 10px;
    color: black;
    background-color: #F07D00;
    border-radius: 15px;
    width: 100px;
    transition: all 0.3s ease-out;
}

button:hover{
    background-color: rgb(158, 82, 0);
    color: white;

}

h2{
    display: inline;
    margin-right: 100px;
}

button .btn-film{

}