h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: left;
}

.content-reserveringen {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr minmax(300px, 700px) 1fr;
  justify-items: center;
}

.reserveringen-tekst {
  background-color: var(--item);
  border-radius: 5px;
  padding: 15px;
  box-shadow:0 0 40px -10px #000;
}

.berichten {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--item);
  border-radius: 5px;
  padding: 15px;
  box-shadow:0 0 40px -10px #000;
  border: 2px solid red;
}
.berichten h2{
  color: red;
}

.berichten.actief{
  display: block;
}