h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  text-align: left;
}

.content-reserveringen {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 500px) 1fr;
  justify-items: center;

}
