h1 {
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  text-align: left;
}

.content-verhaal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  /*justify-items: center;*/
  
}

p{
font-size: 0.9em;
}

.geschiedenis{
  padding: 15px;
  background-color:  hsl(201, 71%, 77%);
  border-radius: 5px;
}

.sponsors{
  padding: 15px;
  background-color:  hsl(201, 71%, 77%);
  border-radius: 5px;
}

ul{
 list-style-type: square;
}

