h1 {
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  text-align: left;
}

.content-verhaal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  /*justify-items: center;*/
  
}

.content-verhaal p{
font-size: 0.9em;
}

.geschiedenis{
  padding: 15px;
  background-color: var(--item);
  border-radius: 5px;
  box-shadow:0 0 40px -10px #000;
}

.sponsors{
  padding: 15px;
  background-color: var(--item);
  border-radius: 5px;
  box-shadow:0 0 40px -10px #000;
}

.sponsors ul{
 list-style-type: square;
}

.sponsors li{
  color: green;;
}

.sponsors a{
  text-decoration: none;
  color: green;
}

