.content-vrijwilligers h1{
    text-align: center;
}

.tekst-vrijwilligers{
    padding: 25px 300px 25px 200px;
}

.oproep{
    color: rgb(240, 50, 50);
    font-weight: 2em;
    width: 400px;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(233, 194, 194);
    transform: rotate(-15deg);
    box-shadow: 4px 8px #c0acac;
}